In [7]:
import os
from my_json_helper import read_all_json_files_to_dataframe

In [14]:
# use json_helper to load all json objects into a dataframe called df_daily_summaries
dir_path = os.path.join('./', 'data', 'daily_summaries')
summaries_df = read_all_json_files_to_dataframe(dir_path)
summaries_df.head()

Error reading ./data/daily_summaries/.gitkeep: Expecting value: line 1 column 1 (char 0)

,date,datatype,station,attributes,value,source
0,2018-01-23T00:00:00,PRCP,GHCND:US1DENC0002,",,N,0700",58,daily_summaries_FIPS10003_jan_2018_1.json
1,2018-01-23T00:00:00,SNOW,GHCND:US1DENC0002,",,N,0700",0,daily_summaries_FIPS10003_jan_2018_1.json
2,2018-01-23T00:00:00,SNWD,GHCND:US1DENC0002,",,N,0700",0,daily_summaries_FIPS10003_jan_2018_1.json
3,2018-01-23T00:00:00,WESD,GHCND:US1DENC0002,",,N,0700",0,daily_summaries_FIPS10003_jan_2018_1.json
4,2018-01-23T00:00:00,WESF,GHCND:US1DENC0002,",,N,0700",0,daily_summaries_FIPS10003_jan_2018_1.json

In [ ]:
# display a summary of df_daily_summaries
summaries_df.shape

(1386, 6)

How many stations are there in total for FIPS10003

In [ ]:
# returns the number of unique stations in the dataframe
# summaries_df['station'].unique() -- creates a list of unique stations
summaries_df['station'].nunique()

17

Create a DataFrame called temps_max that only contains the entries from df_daily_summaries where the datatype column is equal to TMAX. This DataFrame should only retain the date column and the value column.

In [ ]:
#

In [ ]:
temps_max

How many entries are there in the temps_max DataFrame? What are the mean, min, and max values?

In [ ]:
#

Let's graph this DataFrame so we can get a visual representation for this information.

In [ ]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

In [ ]:
x = temps_max['date'].str[8:10]
y = temps_max['value'] / 10

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(20, 10)
ax.plot(x, y)
ax.grid()
ax.set(xlabel='day of month', ylabel='temperature in celsius', title='Max Temperatues Jan 2018')

Create a DataFrame called temps_min that only contains the entries from df_daily_summaries where the datatype column is equal to TMIN. This DataFrame should only retain the date column and the value column.

In [ ]:
#

In [ ]:
temps_min

How many entries are there in the temps_min DataFrame? What are the mean, min, and max values?

In [ ]:
#

Graph the temps_min DataFrame

In [ ]:
#

We can also plot both of these lines in the same graph.

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(20, 10)
ax.plot(x, temps_max['value'] / 10, color='red')
ax.plot(x, temps_min['value'] / 10, color='blue')
ax.grid()
ax.set(xlabel='day of month', ylabel='temperature in celsius', title='Min & Max Temperatues Jan 2018')