In [7]:
import os
from my_json_helper import read_all_json_files_to_dataframe

In [17]:
# use json_helper to load all json objects into a dataframe called df_daily_summaries
dir_path = os.path.join('./', 'data', 'daily_summaries')
summaries_df = read_all_json_files_to_dataframe(dir_path)
summaries_df

Error reading ./data/daily_summaries/.gitkeep: Expecting value: line 1 column 1 (char 0)

,date,datatype,station,attributes,value,source
0,2018-01-23T00:00:00,PRCP,GHCND:US1DENC0002,",,N,0700",58,daily_summaries_FIPS10003_jan_2018_1.json
1,2018-01-23T00:00:00,SNOW,GHCND:US1DENC0002,",,N,0700",0,daily_summaries_FIPS10003_jan_2018_1.json
2,2018-01-23T00:00:00,SNWD,GHCND:US1DENC0002,",,N,0700",0,daily_summaries_FIPS10003_jan_2018_1.json
3,2018-01-23T00:00:00,WESD,GHCND:US1DENC0002,",,N,0700",0,daily_summaries_FIPS10003_jan_2018_1.json
4,2018-01-23T00:00:00,WESF,GHCND:US1DENC0002,",,N,0700",0,daily_summaries_FIPS10003_jan_2018_1.json
...,...,...,...,...,...,...
1381,2018-01-22T00:00:00,WDF2,GHCND:USW00013781,",,W,",150,daily_summaries_FIPS10003_jan_2018_0.json
1382,2018-01-22T00:00:00,WDF5,GHCND:USW00013781,",,W,",160,daily_summaries_FIPS10003_jan_2018_0.json
1383,2018-01-22T00:00:00,WSF2,GHCND:USW00013781,",,W,",54,daily_summaries_FIPS10003_jan_2018_0.json
1384,2018-01-22T00:00:00,WSF5,GHCND:USW00013781,",,W,",63,daily_summaries_FIPS10003_jan_2018_0.json
1385,2018-01-23T00:00:00,PRCP,GHCND:US1DENC0001,",,N,0700",76,daily_summaries_FIPS10003_jan_2018_0.json

In [ ]:
# display a summary of df_daily_summaries
summaries_df.shape

(1386, 6)

How many stations are there in total for FIPS10003

In [ ]:
# returns the number of unique stations in the dataframe
# summaries_df['station'].unique() -- creates a list of unique stations
summaries_df['station'].nunique()

17

Create a DataFrame called temps_max that only contains the entries from df_daily_summaries where the datatype column is equal to TMAX. This DataFrame should only retain the date column and the value column.

In [ ]:
# create a new dataframe with only the TMAX data
temps_max = summaries_df[summaries_df['datatype'] == 'TMAX']
temps_max = temps_max.rename(columns={'value': 'max_temp'})
columns_to_drop = ['station', 'attributes', 'source', 'datatype']
temps_max.drop(columns=columns_to_drop, inplace=True) # inplace=True modifies the original dataframe, not creating a copy
temps_max

                     date  max_temp
33    2018-01-23T00:00:00       172
76    2018-01-24T00:00:00        72
119   2018-01-25T00:00:00        28
163   2018-01-26T00:00:00        39
206   2018-01-27T00:00:00       150
242   2018-01-28T00:00:00       133
291   2018-01-29T00:00:00        78
334   2018-01-30T00:00:00        39
380   2018-01-31T00:00:00         6
428   2018-01-01T00:00:00       -60
475   2018-01-02T00:00:00       -38
524   2018-01-03T00:00:00        -5
579   2018-01-04T00:00:00       -21
626   2018-01-05T00:00:00       -82
665   2018-01-06T00:00:00       -88
708   2018-01-07T00:00:00       -71
751   2018-01-08T00:00:00         6
785   2018-01-09T00:00:00        78
829   2018-01-10T00:00:00        56
874   2018-01-11T00:00:00       133
915   2018-01-12T00:00:00       167
963   2018-01-13T00:00:00       139
1007  2018-01-14T00:00:00       -32
1056  2018-01-15T00:00:00         0
1106  2018-01-16T00:00:00        56
1159  2018-01-17T00:00:00        22
1205  2018-01-18T00:00:00        22
1250  2018-01-19T00:00:00        83
1294  2018-01-20T00:00:00       139
1341  2018-01-21T00:00:00       117
1379  2018-01-22T00:00:00       156

In [ ]:
temps_max

How many entries are there in the temps_max DataFrame? What are the mean, min, and max values?

In [ ]:
#

Let's graph this DataFrame so we can get a visual representation for this information.

In [ ]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

In [ ]:
x = temps_max['date'].str[8:10]
y = temps_max['value'] / 10

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(20, 10)
ax.plot(x, y)
ax.grid()
ax.set(xlabel='day of month', ylabel='temperature in celsius', title='Max Temperatues Jan 2018')

Create a DataFrame called temps_min that only contains the entries from df_daily_summaries where the datatype column is equal to TMIN. This DataFrame should only retain the date column and the value column.

In [ ]:
#

In [ ]:
temps_min

How many entries are there in the temps_min DataFrame? What are the mean, min, and max values?

In [ ]:
#

Graph the temps_min DataFrame

In [ ]:
#

We can also plot both of these lines in the same graph.

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(20, 10)
ax.plot(x, temps_max['value'] / 10, color='red')
ax.plot(x, temps_min['value'] / 10, color='blue')
ax.grid()
ax.set(xlabel='day of month', ylabel='temperature in celsius', title='Min & Max Temperatues Jan 2018')